<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Thank you for your order!</h1>
    <p>Total amount to be paid: ksh{{ total_price }}</p>
    <p>
        <strong>Till number: 55550</strong>
    </p>
    <p>Show the payment confirmation message at the counter when picking up your order.</p>
    <p>Welcome again to Denval Juice, Your favourite drinks</p>
    <a href="{% url 'denval_Juice:menu' %}">Return to Menu</a>

</body>

</html>