<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denval Juice</title>
</head>
<body>
    <h2>HELP</h2>
    <h4>How To Order</h4>
    <p>1. Click order on the navbar to display the menu</p>
    <p>2. Click the juice you want to add to cart</p>
    <p>3. To view your chosen items click view cart</p>
    <p>4. Click <strong>submit payment</strong>to complete your order</p>

    <h4>To Create Your Own Juice Blend:</h4>
    <p>1. Go to create your own juice blend</p>
    <p>2. Select the juices you want</p>
    <p>3. Click <strong>Create Blend</strong> to place your order</p>
    <p>4. Use the till number provided to make your payment</p>
    <p>5. Show the payment message at the counter to receive your order</p>

    <h4>How to pay</h4>
    <p>1. Add items to cart </p>
    <p>2. Click <strong>view cart</strong> to see your items</p>
    <p>3. Click 'place your order now' to display the amount to be paid and the till number</p>
    <p>4. Go to Mpesa and use the till number provided to pay</p>
    <p>5. Show the payment message at the counter to receive your order</p>
    
    <a href="{% url 'denval_Juice:home'%}">Back Home</a>
</body>
</html>